/* UNIVERSAL STYLES */

html {
    font-family: 'Poppins', 'Trebuchet MS', Tahoma, sans-serif, serif;
}

html,
body {
    height: 100%;

}

body {
    background-color: #FBF6BF;
    color: #213115;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
}

h2,
h3 {
    font-weight: 600;
    margin: 0.5rem;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #213115;
}

a:hover {
    color: #B2B96B;
}

a:active {
    color: #5D7B31;
}

details {
    cursor: pointer;
    margin: 10px;
    padding: 0;
}

details:active {
    color: #5D7B31;
}

#about,
#projects,
#career,
#skills,
#contact {
    padding: 0.5rem;
}

#projects a,
#career .role a {
    text-decoration: underline;
}

#about a:hover,
#career a:hover,
.contact-container a:hover,
#footer-link a:hover {
    color: #5D7B31;
}

.project-container,
.career-container,
.skills-container {
    margin: 1% 4%;
}

/* HEADER / NAV BAR */

header h1 {
    margin: 0;
}

nav {
    background-color: #FBF6BF;
    display: flex;
    justify-content: space-between;
    padding: 1rem 3.5rem;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style-type: none;
    gap: 1rem;
    padding: 0;
    align-items: center;
}

/* MAIN */

main {
    background-color: #B2B96B;
    text-align: center;
}

/* ABOUT ME section */

#about h2 {
    margin: 0;
}

.about-container {
    display: flex;
    padding: 1rem;
    margin: 0 1%;
}

.about-pic {
    padding: 0 20px;
    width: 300px;
    height: 300px;
    border-radius: 25%;
}

.about-text-container {
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 1rem;
}

/* PROJECTS section */

#projects {
    background-color: #FBF6BF;
}

.project-container {
    border: 1px black solid;
}

.project-heading h3 {
    display: inline;
}

.project-description {
    text-align: start;
    margin: 1rem;
}

/* CAREER section */

.career-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.career-heading h3 {
    display: inline;
}

.career-description p {
    text-align: start;
}

.career-description .icon {
    font-size: 6em;
    margin: 1%;
    text-align: center;
}

.credits h4 {
    margin: 0.5rem 0;
}

.credits li {
    list-style-type: circle;
    white-space: nowrap;
    text-align: start;
}

/* SKILLS section */

#skills {
    background-color: #FBF6BF;
}

.skills-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skills-container .icon {
    font-size: 2em;
    width: 2em;
    margin-top: 0.5rem;
}

/* CONTACT section */

.contact-container .icon {
    font-size: 2em;
    margin: 0 1rem;
}

/* FOOTER */

#footer-row {
    background-color: #B2B96B;
    position: relative;
}

#footer-link {
    background-color: #B2B96B;
    position: absolute;
    bottom: 0.5rem;
    right: 1rem;
}

footer {
    padding: 1rem;
}

@media only screen and (max-width: 600px) {

    /* UNIVERSAL styles */

    h2,
    h3 {
        font-weight: 500;
    }

    details {
        font-weight: normal;
    }

    /* HEADER / NAV BAR */

    nav {
        display: flex;
        flex-direction: column;
        padding: 1rem 0;
    }

    .nav-links {
        margin: 0 auto;
        padding: 0.5rem;
    }

    .nav-link {
        white-space: nowrap;
    }

    /* ABOUT ME section */

    .about-container {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }

    .about-pic {
        margin-left: auto;
        margin-right: auto;
    }

    .about-text-container h2 {
        text-align: center;
    }

    .about-text-container {
        margin: 0 auto;
        padding: 0;
    }

    /* PROJECTS section */

    #projects h2 {
        font-size: 1.2rem;
    }

    .project-description,
    #projects a {
        font-size: 0.8rem;
    }

    /* CAREER section */

    #career {
        padding: 0;
    }

    .career-container {
        display: block;
    }

    .career-description {
        text-align: center;
    }

    .career-description p {
        text-align: start;
    }

    .career-description .icon {
        font-size: 4em;
        margin: 1%;
    }

    .credits {
        display: block;
    }

    .credits ul {
        padding: 0;
    }

    .credits li {
        list-style-type: none;
        text-align: center;
    }

    /* SKILLS / CONTACT section */

    #skills h2,
    #contact h2 {
        font-size: 1.3rem;
    }
}