/* UNIVERSAL STYLES */

html {
    font-family: 'Poppins', 'Trebuchet MS', Tahoma, sans-serif, serif;
}

html, body {
    height: 100%;
    
}

body {
    background-color: #FBF6BF;
    color: #213115;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #213115;
}

a:hover {
    color: #B2B96B;
}

a:active {
    color: #5D7B31;
}

details {
    cursor: pointer;
    margin: 10px;
}

details:active {
    color: #5D7B31;
}

summary {
    list-style-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/right-arrow.svg);
}

#about, #projects, #career, #skills, #contact {
    padding: 0.5rem;
}

/* HEADER / NAV BAR */

header h1 {
    margin: 0;
}

nav {
    background-color: #FBF6BF;
    display: flex;
    justify-content: space-between;
    padding: 1rem 3.5rem;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style-type: none;
    gap: 1rem;
    padding: 0;
    align-items: center;
}

.nav-link {

}

/* MAIN */

main {
    background-color: #B2B96B;
    text-align: center;
}

/* ABOUT ME section */

#about {

}

.about-container {
    display: flex;
    padding: 2rem;
    gap: 100px;
}

.about-pic {
    padding: 0 20px;
    width: 300px;
    height: 300px;
    border-radius: 25%;
}

.about-text-container {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    text-align: start;
}

/* PROJECTS section */

#projects {
    background-color: #FBF6BF;
}

.project-container {
    border: 1px black solid;
    margin: 4%;
}

.project-item {

}

.project-heading h3 {
    display: inline;
}

.project-description {
    text-align: start;
}

#projects a {
    text-decoration: underline;
}

button {

}

/* CAREER section */

#career {

}

.career-container {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    margin: 4%;
}

.career-item {

}

.career-heading h3 {
    display: inline;
}

.career-description {
    text-align: start;
}

.career-description {

}

.career-description .icon {
    font-size: 6em;
    margin: 5%;
}

.credits {
    margin: 0;
    display: inline-block;
    vertical-align: top;
}

/* SKILLS section */

#skills {
    background-color: #FBF6BF;
}

.skills-container {
    display: flex;
    margin: 4%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skills-container .icon {
    font-size: 2em;
}

/* CONTACT section */

#contact {

} 

.contact-container {

}

.contact-container .icon {
    font-size: 2em;
    margin: 20px;
}

.contact-container a:hover {
    color: #5D7B31;
}

/* FOOTER */


footer {
    display: flex;
    padding: 1rem 0;
    align-items: center;
    margin-right: 4%;
    margin-left: auto;
}

@media only screen and (max-width: 600px) {

    nav {
        display: flex;
        flex-direction: column;
    }

    .nav-links {
        margin-left: auto;
        margin-right: auto;
    }

    .about-container {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    }

    .about-pic {
        margin-left: auto;
        margin-right: auto;
    }

    .about-text-container {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .career-container {
        display: block;
    }
}